#centrar {
    margin-left: auto;
    margin-right: auto;
    /*width: 800px;
    height: 500px;
    background-color: aqua;*/
}

header {
    width: auto;
    height: 70px;
    background-color: midnightblue;

}

article {
    width: auto;
    height: auto;
}

/*#margentexto {
    margin-left: 400px;
    margin-right: 400px;
}*/

h1 {

    font-family: serif;
    font-size: 4em;
    text-align: center;
    margin-left: 400px;
    margin-right: 400px;
}

.texto1 {
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5em;
}

p {
    text-align: left;
    font-family: sans-serif;
    font-size: 1.3em;
    margin-left: 400px;
    margin-right: 400px;
}

#letrap {
    padding-left: 30%;
    float: left;
}

.negritasub {
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.negrita {
    font-weight: bold;
}

.cursiva {
    font-style: italic;
}

.enlinea {
    display: inline-block;
    width: 10%;
    background-color: aqua;
}
